<h1>Kurum Listesi</h1>


<a href="https://www.kizilay.org.tr/Bagis/BagisYap/404/pazarcik-depremi-bagisi"><h3>Kızılay</h3></a>
<a href="https://www.afad.gov.tr/depremkampanyasi2"><h3>Afad</h3></a>
<a href="https://ahbap.org/bagisci-ol"><h3>Ahbap</h3></a>
