@using Entity;
@model User

 <form asp-controller="Home" asp-action="Enkaz" method="post">
<div class="mb-3">
  <label class="form-label">İsim Soyisim</label>
  <input type="text" class="form-control" asp-for="Name" >
</div>
    <div class="mb-3">
        <label class="form-label">Telefon numarası</label>
            <input type="text" class="form-control" asp-for="PhoneNumber" >
    </div>
    <label class="form-label">İl</label>

        <select class="form-select" asp-for="City" aria-label="Default select example">

        <option selected>İl seçin</option>
        <option value="Hatay">Hatay</option>
        <option value="Adana">Adana</option>
        <option value="Adıyaman">Adıyaman</option>
        <option value="Kahramanmaraş">Kahramanmaraş</option>
        <option value="Malatya">Malatya</option>
        <option value="Gaziantep">Gaziantep</option>
        <option value="Şanlıurfa">Şanlıurfa</option>
        <option value="Diyarbakır">Diyarbakır</option>
        
    </select>

    <div class="mb-3">
        <label class="form-label">İlçe</label>
            <input type="text" asp-for="District" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Yardım Tipi</label>
        <input type="text" asp-for="Need" class="form-control" placeholder="Enkaz">
    </div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Adres Bilgileri</label>
            <textarea class="form-control" asp-for="Adress"  rows="3"></textarea>
      
    
    <button type="submit" asp-controller="Home" asp-action="Enkaz"  class="btn btn-primary btn-lg">Yardım iste</button>
    </form>
